@import "../../../../variables";

header{
  height: 60px;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  background-color: $primary;
  color: $secondary-light;
}

.mat-icon {
  transform: scale(1.5);
}

.user-control-panel{
  margin-right: 3rem;
}

.app-control-panel{
  margin-right: 2rem;
}
