:host {
  position: relative;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

button {
  text-transform: uppercase;
}
