<div
  class="cart preview-interview"
  [routerLink]="['/interviews', interview._id]"
>
  <div class="control-panel" *ngIf="isUserAdmin">
    <button mat-icon-button [routerLink]="['/interviews/charts', interview._id]">
      <mat-icon matTooltip="Interview charts">pie_chart</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/interviews/edit', interview._id]">
      <mat-icon matTooltip="Edit interview">edit</mat-icon>
    </button>
  </div>
  <span class="preview-interview-label link">{{interview.label}}</span>
</div>
