<div
  class="cart preview-interview"
>
  <div class="preview-interview-control control-panel" *ngIf="isUserAdmin">
    <button mat-icon-button [routerLink]="['/interviews/charts', interview._id]">
      <mat-icon matTooltip="Interview charts">pie_chart</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/interviews/edit', interview._id]">
      <mat-icon matTooltip="Edit interview">edit</mat-icon>
    </button>
  </div>
  <div class="preview-interview-label link"
       [routerLink]="['/interviews', interview._id]">{{interview.label}}</div>
  <div class="preview-interview-info">
    <div class="deadline">11.12.2020</div>
    <div class="author">
      {{interview.admin.first_name}} {{interview.admin.surname}}
    </div>
  </div>
</div>
