<header>

  <div class="app-control-panel">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>language</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>invert_colors</mat-icon>
    </button>
  </div>
  <div class="user-control-panel">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</header>
