@import "src/styles/variables";

:host {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 900px) 40px;
  justify-content: center;
  padding: $default_space 50px;

    form {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 40px;
      grid-gap: $default_space;
      overflow-y: auto;

      .form-fields {
        overflow-y: auto;
        padding-right: $default_space / 4;

        .form-questions {
          display: grid;
          grid-gap: $default_space;

          .options {
            .option {
              display: grid;
              grid-template-columns: 1fr 40px;
            }
          }

          .form-question {
            padding: $default_space / 2;

            &-control {

            }
          }
        }
      }

      .form-button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $default_space;
      }

    }

  .form-control {
    display: grid;
    align-items: center;
    align-content: center;
  }

  .full-width {
    width: 100%;
  }
}
