<h3 *ngIf="pageLoaded" class="interview-label">{{interview.label}}</h3>

<div
  *ngIf="pageLoaded"
  class="questions-container custom-scrollbar"
>
  <div class="question" *ngFor="let question of interview.questions">
    <div class="question-label">
      {{question.question}}
    </div>
    <!--      <div class="question-chart">-->
    <!--    <div class="chart-container">-->
    <pie-chart [data]="getQuestionStatistic(question.id)"></pie-chart>
    <!--    </div>-->
    <!--      </div>-->
  </div>
  <div class="question" *ngFor="let question of interview.questions">
    <div class="question-label">
      {{question.question}}
    </div>
    <!--      <div class="question-chart">-->
    <pie-chart [data]="getQuestionStatistic(question.id)"></pie-chart>
    <!--      </div>-->
  </div>
  <div class="question">
    <div class="question-label">
      fake-question 2
    </div>
  </div>
</div>

<ng-template #loader>
  <overlay-loader></overlay-loader>
</ng-template>
