<div *ngIf="pageLoaded; else loader">
  {{interview.label}}
  <ng-container *ngFor="let questionStatistic of answersStatistic">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="questionStatistic.answers"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      [legendPosition]="legendPosition"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
  </ng-container>

</div>

<ng-template #loader>
  <overlay-loader></overlay-loader>
</ng-template>
