@import '~@angular/material/theming';

@include mat-core();

$warn-palette: mat-palette($mat-amber, 600);
$error-palette: mat-palette($mat-red, 600);
$success-palette: mat-palette($mat-green, 600);

@mixin init-theme($theme) {
  height: 100vh;
  @include theme-text($theme);
  @include angular-material-theme($theme);
  @include loader-overlay($theme);
  @include header($theme);
  @include navbar($theme);
  @include cover($theme);
  @include cart($theme);
  @include form-question($theme);
  @include custom-scrollbar($theme);
}

// mixin for change theme of custom components
@mixin theme-background($theme) {
  $background: map-get($theme, background);
  $background-color: map-get($background, background);
  background-color: $background-color;
}

@mixin theme-text($theme) {
  $foreground: map-get($theme, foreground);
  $text: map-get($foreground, text);
  color: $text;
}

@mixin header($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  header {
    background-color: $primary-color;
  }
}

@mixin loader-overlay($theme) {
  $warn: map-get($theme, warn);
  $warn-color: mat-color($warn);
  .line-preloader {
    background: linear-gradient(to right, $warn-color, $warn-color);
  }
}

@mixin navbar($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .navbar {
    @include theme-background($theme);
    border-right: 2px solid $primary-color;
  }
}

@mixin cover($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .cover {
    @include theme-background($theme);

    .neon-button {
      color: $primary-color;

      &:hover {
        background-color: $primary-color;
        box-shadow: 0 0 10px $primary-color, 0 0 40px $primary-color, 0 0 80px $primary-color;
      }

      div:nth-child(1) {
        background: linear-gradient(90deg, transparent, $primary-color);
      }

      div:nth-child(3) {
        background: linear-gradient(270deg, transparent, $primary-color);
      }

      div:nth-child(2) {
        background: linear-gradient(180deg, transparent, $primary-color);
      }

      div:nth-child(4) {
        background: linear-gradient(180deg, transparent, $primary-color);
      }
    }
  }
}

@mixin cart($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .cart {
    height: 100%;
    width: 100%;
    padding: 10px;
    @include primary-border($theme);
  }
  .link:hover {
    color: $primary-color;
  }
}

@mixin form-question($theme) {
  .form-question {
    @include primary-border($theme);
  }
}

@mixin primary-border($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  border: 1px solid $primary-color;
}

@mixin custom-scrollbar($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #e1e1e1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 5px;
      max-height: 30px;
      cursor: pointer;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
