@import "src/variables";

.navbar {
  height: 100%;
  background-color: $secondary-light;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $primary;
}

.mat-icon {
  transform: scale(1.5);
}

mat-icon {
  margin-bottom: 20px;
  color: $primary-light;
}

.active {
  color: $primary;
}
