@import "../../../shared/styles/variables";
@import "../../../shared/styles/loader";

:host{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: $background-color;
  z-index: 3;
  opacity: 0.75;
}
