<div class="register">
  <div class="register-teacher"
       [ngClass]="{'active': activeSection === sectionType.teacher }"
       (click)="changeActiveSection(sectionType.teacher)"
  >
    <div class="register-shade register-teacher-shade">
      <span class="mat-display-2">teacher</span>
    </div>
    <app-register></app-register>
  </div>
  <div class="register-child"
       [ngClass]="{'active': activeSection === sectionType.child }"
       (click)="changeActiveSection(sectionType.child)"
  >
    <div class="register-shade register-child-shade">
      <span class="mat-display-2">student</span>
    </div>
    <app-register></app-register>
  </div>
</div>
