<div class="register">
  <div class="register-teacher"
       [ngClass]="{'active': activeUser === userType.teacher }"
       (click)="changeActiveSection(userType.teacher)"
  >
    <div class="register-shade register-teacher-shade">
      <span class="mat-display-2">teacher</span>
    </div>
    <app-register
      [type]="activeUser"
    ></app-register>
  </div>
  <div class="register-child"
       [ngClass]="{'active': activeUser === userType.student }"
       (click)="changeActiveSection(userType.student)"
  >
    <div class="register-shade register-child-shade">
      <span class="mat-display-2">student</span>
    </div>
    <app-register
      [type]="activeUser"
    ></app-register>
  </div>
</div>
