@import "../../../variables";

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: hidden;
  background-color: $background-color;

  &-teacher, &-child {
    position: relative;
    transition: all 1s ease;
  }

  &-child.active {
    .register-child-shade {
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }
  }

  .register-child-shade {
    background-color: $background-light-color;
  }

  .register-teacher-shade {
    background-color: $primary-color;
  }

    &-teacher.active {
    .register-teacher-shade {
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  }

  &-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    text-transform: uppercase;
  }
}
