<form *ngIf="interview && form; else loader" [formGroup]="form" (ngSubmit)="submitForm()">

  <h3 class="main-label">{{interview.label}}</h3>

  <div class="questions custom-scrollbar">
    <ng-container *ngFor="let question of interview.questions">

      <div [ngSwitch]="question.type" class="question form-question-border second-background"
           [ngClass]="getClasses(question.type)">

        <ng-container *ngSwitchCase="questionType.CHOICE_ONE">
          <label class="question-label">{{question.label}}</label>
          <mat-radio-group class="question-options answer" [formControlName]="question.id">
            <mat-radio-button class="example-margin"
                              *ngFor="let option of question.options"
                              [value]="option"
            >{{option}}</mat-radio-button>
          </mat-radio-group>
        </ng-container>

        <ng-container *ngSwitchCase="questionType.CHOICE_MANY">
          <label class="question-label">{{question.label}}</label>
          <div class="question-options answer" [formArrayName]="question.id">
            <mat-checkbox class="example-margin"
                          *ngFor="let option of question.options; let optionIndex = index"
                          [formControlName]="optionIndex"
            >{{option}}</mat-checkbox>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="questionType.SELECT_ONE">
          <label class="question-label">{{question.label}}</label>
          <mat-form-field class="answer">
            <mat-label>Choose an option</mat-label>
            <mat-select [formControlName]="question.id">
              <mat-option *ngFor="let option of question.options" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>


        <ng-container *ngSwitchCase="questionType.TEXT">
          <label class="question-label">{{question.label}}</label>
          <mat-form-field class="full-width answer">
            <input matInput [formControlName]="question.id" [errorStateMatcher]="matcher" autocomplete="off"/>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="questionType.LONG_TEXT">
          <label class="question-label">{{question.label}}</label>

          <mat-form-field appearance="fill" class="full-width answer">
            <textarea matInput rows="5" [formControlName]="question.id" [errorStateMatcher]="matcher"
                      autocomplete="off"></textarea>
          </mat-form-field>
        </ng-container>

      </div>

    </ng-container>
  </div>

  <div class="form-button">
    <button
      mat-raised-button
      color="warn"
      type="button"
      [routerLink]="'/interviews'"
    >Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      type="submit"
    >Save
    </button>
  </div>

</form>

<div *ngIf="isAdmin()" class="form-control">
  <button color="primary" mat-icon-button (click)="toggleCharts()">
    <mat-icon matTooltip="Toggle charts">donut_large</mat-icon>
  </button>
  <button color="primary" mat-icon-button (click)="downloadReport()">
    <mat-icon matTooltip="Download report">assignment_returned</mat-icon>
  </button>
</div>

<ng-template #loader>
  <overlay-loader></overlay-loader>
</ng-template>
