@import "src/styles/variables";
@import "src/styles/shared";

:host {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, $default_viewport - 40px) 40px;
  justify-content: center;
  padding: $default_space 50px;

  form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    grid-gap: $default_space;
    overflow-y: auto;

    .questions {
      display: grid;
      grid-gap: $default_space;
      align-content: start;
      padding-right: $default_space / 4;
      overflow-y: auto;

      .question {
        display: grid;
        grid-gap: $default_space / 4;
        padding: $default_space / 2;

        &-options {
          display: grid;
          grid-gap: $default_space / 4;
        }

        .answer {
          padding-left: $default_space / 2;
        }
      }

      .select-one, .select-many {
        label {
          margin-bottom: $default_space / 2;
        }
      }
    }

    .form-button {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $default_space;
    }
  }


  .form-control {
    display: grid;
    align-items: center;
    align-content: center;
  }

}

::ng-deep.mat-form-field-infix {
  border-top: none;
}
