<div class="cart preview-group">
  <div class="preview-group-control control-panel" *ngIf="isUserAdmin">
    <button mat-icon-button [routerLink]="['/group/edit', group._id]">
      <mat-icon matTooltip="Edit group">edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" [routerLink]="['/group/delete', group._id]">
      <mat-icon matTooltip="Delete group">delete</mat-icon>
    </button>
  </div>
  <div class="preview-group-label link"
       [routerLink]="['/groups', group._id]">{{group.label}}</div>
  <div class="preview-group-info">
    <span>
      participates:
    </span>
    <span>
      101
    </span>
  </div>
</div>
