@import "src/styles/variables";
@import "src/styles/shared";

:host {
  height: 100%;
  display: grid;
  grid-template-columns: $default_viewport;
  justify-content: center;
  padding: $default_space 50px;

  .group-template{
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    overflow-y: auto;

    .participants-list{
      overflow-y: auto;
      padding-right: 5px;
    }
  }
}
