<div *ngIf="group; else loader" class="group-template">
  <h3 class="main-label">{{group.label}}</h3>

  <h5 class="subtitle">Participants</h5>

  <mat-list class="participants-list custom-scrollbar">

    <ng-container *ngFor="let user of group.participants; let i = index">
      <mat-list-item>{{user.displayed_name}} : {{user.email}}</mat-list-item>
      <mat-divider *ngIf="i !== group.participants.length - 1"></mat-divider>
    </ng-container>

  </mat-list>

</div>

<ng-template #loader>
  <overlay-loader></overlay-loader>
</ng-template>
