
<div *ngIf="group; else loader">
  {{group.label}}

  participants

  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>


  <label class="question-label">invite</label>
  <mat-form-field class="full-width answer">
    <input matInput #invite (keyup.enter)="inviteUser(invite.value)" autocomplete="off"/>
  </mat-form-field>

</div>

<ng-template #loader>
  <overlay-loader></overlay-loader>
</ng-template>
