@import "src/styles/variables";

.preview-groups-container{
  display: grid;
  grid-gap: 15px;
  margin: $default_space;

  &.module{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }

  .create-group{
    font-size: 2rem;
    text-transform: uppercase;
    min-height: 140px;
  }
}
