.preview-interview-container{
  display: grid;
  grid-gap: 15px;
  margin: 15px;
  &.module{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }

  .add{
    font-size: 2rem;
    text-transform: uppercase;
    min-height: 40px;
  }
}
