@import "loader";

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.success-color{
  color: #ADFF2F !important;
}
