@import "variables";
@import "loader";

*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-light-prime;
}

.mat-success {
  background-color: $success-color;
}
