@import "app/shared/styles/variables";
@import "app/shared/styles/loader";

*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-success {
  background-color: $success-color;
}
