@import '~@angular/material/theming';
@import "variables";

@include mat-core();

.light-theme {
  $foreground: map-get($light-theme, foreground);
  $text: map-get($foreground, text);
  color: $text;
  height: 100vh;
  @include angular-material-theme($light-theme);
  @include header($light-theme);
  @include navbar($light-theme);
  @include cover($light-theme);
}

.light-theme-background {
  $light-background: map-get($light-theme, background);
  $light-background-color: map-get($light-background, background);
  background-color: $light-background-color;
}

.dark-theme {
  $foreground: map-get($dark-theme, foreground);
  $text: map-get($foreground, text);
  color: $text;
  height: 100vh;
  @include angular-material-theme($dark-theme);
  @include header($dark-theme);
  @include navbar($dark-theme);
  @include cover($dark-theme);
}

.dark-theme-background {
  $dark-background: map-get($dark-theme, background);
  $dark-background-color: map-get($dark-background, background);
  background-color: $dark-background-color;
}
