<form class="user-form" [formGroup]="form">

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" [errorStateMatcher]="matcher"
           placeholder="Ex. jhon.doe@gmail.com">
    <mat-error
      *ngIf="getControl('email').hasError('email') && !getControl('email').hasError('required')"
    >
      Please enter a valid email address
    </mat-error>
    <mat-error
      *ngIf="getControl('email').hasError('required')"
    >
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="getControl('password').hasError('required')"
    >
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Confirm password</mat-label>
    <input matInput formControlName="confirm_password" [type]="hideConfirmPassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix
            type="button"
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide confirm password'"
            [attr.aria-pressed]="hideConfirmPassword"
    >
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error
      *ngIf="getControl('confirm_password').hasError('required')"
    >
      Confirm password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>First name</mat-label>
    <input matInput formControlName="first_name">
    <mat-error
      *ngIf="getControl('first_name').hasError('required')"
    >
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname">
    <mat-error
      *ngIf="getControl('surname').hasError('required')"
    >
      Surname is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>Displayed name</mat-label>
    <input matInput type="text" formControlName="displayed_name">
    <button
      *ngIf="getControl('displayed_name').value"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="getControl('displayed_name').setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="basic" (click)="submitForm()">Sign up</button>
</form>

<app-cover
  *ngIf="activeAuthSection !== 'UP'"
  [text]="'Sign up'"
  [section]="'UP'"
  (sectionChange)="onSectionChange($event)"
>
</app-cover>
